@charset "UTF-8";

/*
.color-primary-0 { color: #063A16 }
.color-primary-1 { color: #2A6F3F }
.color-primary-2 { color: #155528 }
.color-primary-3 { color: #00220A }
.color-primary-4 { color: #000F04 }

.color-secondary-1-0 { color: #062731 }	
.color-secondary-1-1 { color: #25515D }
.color-secondary-1-2 { color: #133C48 }
.color-secondary-1-3 { color: #01171D }
.color-secondary-1-4 { color: #000A0C }

.color-secondary-2-0 { color: #2E4807 }	
.color-secondary-2-1 { color: #678A34 }
.color-secondary-2-2 { color: #496A1A }
.color-secondary-2-3 { color: #192B00 }
.color-secondary-2-4 { color: #0B1200 }
*/

* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

body, html{
    background-color: #01171D;
    height: 100vh;
    width: 100vw;
    color: white;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    background-color: #2A6F3F ;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;    
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.692);
    transition: width .3, heigth .3 ;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

section#login > div#imagem{
    display: block;
    background: #01171D url(../img/pexels-tima-miroshnichenko-5380664.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;

}
div#form > h1{
    text-align: center;
    padding-bottom: 10px;    
}
div#form > p{
    font-size: 0.8em;
}
div.campo > label{
    display: none;    
}
div.campo > span {
   font-size: 2em;
   width: 40px;
   padding: 5px;   
}
div.campo > input {
    background-color: #406e4e;
    font-size: 1em;
    height: 100%;
    border-radius: 8px;
    padding: 4px;
    width: calc(100% - 44px);
    transform: translateY(-14px);
}
div.campo input:focus-within{
    background-color: white;
}
form > div.campo {
    background-color: #25515D;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #406e4e;
    margin: 5px 0px;
}
form > input[type=submit] {
    display: block;
    font-size: 1em;
    height: 40px;
    width: 100%;
    background-color: #25515D;
    color: white;
    border: none;
    border-radius: 5px;
    
}
form > input[type=submit]:hover{
    background-color: #01171D;
    border: 1px solid white;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    background-color: #2A6F3F;
    color: white;
    border: 2px solid #25515D;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 5px;
    
}
form a.botao:hover {
    background-color: #25515D;
}
form > a.botao > span {
    font-size: 0.8em;    
   
    }